.status-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.results {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.results ion-icon {
    font-size: 23px;
    margin: 0 2.5px;
}

.final-message {
    width: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-message p {
    text-align: center;
    margin: 15px 0;
}

.final-message div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.right h5 {
    color: #2FBE34;
}

.doubt h5 {
    color: #FF922E;
}

.wrong h5 {
    color: #FF3030;
}

.final-message img {
    width: 23px;
    height: 23px;
    margin: 15px;
}

.status-bar > div:last-child {
    background-color: #FB6B6B;
    border-radius: 5px;
    width: 167px;
    height: auto;
    margin: 20px 0;
    padding: 5px 0;
    cursor: pointer;
}

.status-bar > div:last-child p {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;

}


@media (min-width: 600px) {
    .status-bar {
        min-height: 118px;
    }

    .final-message {
        width: 350px;
    }
}