.deck {
    width: 80%;
    min-width: 280px;
    margin-bottom: 100px;
}

.deck ion-icon {
    font-size: 28px;
}

@media (min-width: 600px) {
    .deck {
        margin-bottom: 200px;
    }
    
    .deck ion-icon {
        font-size: 36px;
    }
}